<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="ConnectionString" value="User ID=sa;Password=n03ntry@ll0w3d; Data Source=10.1.20.20;Initial Catalog=iMVFinanceAccounting_Dev"/>-->
    <add key="ECommConnectionString" value="User ID=123;Password=1234; Data Source=10.1.20.20;Initial Catalog=iConnect_Jotun_PreCopy3"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  
  
 

  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="EndPointBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <services>
      <service name="EcommService.Service" behaviorConfiguration="ServiceBehavior">
        <endpoint address="http://localhost:54622/Service.svc"
                  binding="webHttpBinding"
                  contract="EcommService.IService"
                  behaviorConfiguration="EndPointBehavior">
        </endpoint>
      
     
      </service>
    </services>

    <!--<bindings>
      <webHttpBinding>
        <binding name="LargeSettings"
                 maxBufferSize="524288"
                 maxBufferPoolSize="524288"
                 maxReceivedMessageSize="524288">
          <readerQuotas maxDepth="32" maxStringContentLength="100000"
                        maxArrayLength="16384" maxBytesPerRead="4096"
                        maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>

    <services>
      <service name="EcommService.Service"
               behaviorConfiguration="ServiceWithMetadata">
        <endpoint name="Default"
                  address="http://localhost:54622/Service.svc"
                  binding="webHttpBinding"
                  bindingConfiguration="LargeSettings"
                  contract="EcommService.IService" />
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceWithMetadata">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
     
    </behaviors>-->

  


  
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="false" />

  </system.serviceModel>
  
    
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>